<div id="footer">
    <div class="container">
        <ul class="sixteen columns">
            <div class="four columns alpha">
              <h4><%= link_to t(:Policies)%></h4>
            </div>

           <div class="four columns alpha">
                <h4><%= link_to t(:Impressum)%></h4>                                   
            </div>

           <div class="four columns alpha">
                <h4><%= link_to t(:Feedback)%></h4>                                   
            </div>

            <div class="four columns alpha" style="width:10px,height:10px;">
                <ul class="inline">
                <li><%= link_to image_tag("linkedin.png", :border => 0),"https://www.linkedin.com", :target => "_blank"%></li>            
                <li><%= link_to image_tag("facebook.png", :border => 0),"https://www.facebook.com", :target => "_blank"%></li> 
                <li><%= link_to image_tag("google.png", :border => 0),"https://www.plus.google.com", :target => "_blank"%></li> 
                <li><%= link_to image_tag("twitter.png", :border => 0),"https://www.twitter.com", :target => "_blank"%></li> 
                 
                </ul>                    
            </div>          
        </ul>
                
        
    </div>   
</div>