<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to t(:home), root_path %></li>
    <li><%= link_to 'Storage'%></li>
    <li><%= link_to "Relocation" %></li>
    <li><%= link_to "Prices"%></li>
    <li><%= link_to "Offers"%></li>
    <li><%= link_to "FAQs"%></li>
   
    
  </ul>
</nav>

