<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to t(:home), root_path %></li>
    <li><%= link_to t(:Storage)%></li>
    <li><%= link_to t(:Relocation) %></li>
    <li><%= link_to t(:Prices)%></li>
    <li><%= link_to t(:Offers)%></li>
    <li><%= link_to t(:FAQs)%></li>
   
    
  </ul>
</nav>

