    <!-- this is the code for slider -->
    <div class="banner-hold">
      <div class="banner">
        <div id="sliderFrame">
        <div id="ribbon"></div>
        <div id="slider">
          <%= image_tag("Untitled-1.jpg", :alt => "product image",:style=>"width=100%;margin-left:10px;") %>
          <%= image_tag("slider2.jpg", :alt => "product image",:style=>"width=100%;margin-left:10px;") %>
          <%= image_tag("slider3.jpg", :alt => "product image",:style=>"width=100%;margin-left:10px;") %>

        </div>
        <div id="htmlcaption" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
    </div>
        </div>
  
       
        <div class="clear"></div> 
        </div>
        </div>
        <div class="clear"></div>
    </div>


    <div class="container-fluid">
      <div class="row-fluid">
   
           
        <div class="span3" style="margin-left:232px;">
          
       <h2>Request/Booking:The form will be here</h2>
       
          <%= render :partial=>"mini_form"%>

        </div>
        
      </div>
    </div>
 
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3" style="margin-left:232px;">
         <%= link_to "PRODUCTS",products_path %>
        </div>
      </div>
    </div>

    
 